@media only screen and (max-width: 600px) {
  /*For mobile phones*/
  .video{
    height: 350px;
    width: 350px;
    margin: 10px
  }
}

.works{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #262934;
  width: 100%;
  padding: 20px 0px;
}
.work.dark{
  background-color: #262934;
  color: white;
}

.app-tech-logos{
  padding-top: 20px;
  padding-bottom: 15px;
}
.title{
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}
.desc{
  font-size: 18px;
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}

.tech{
  font-weight: 600;
}

.vts{
  height: 80%;
  width: 80%;
  margin:20px;
}

.vts img{
  box-shadow: 2px 2px white;
}