body{
  margin: 0;
  background-color: ghostwhite;
  color:white;
  font-family: sans-serif;
}

.footer{
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #262934;
  text-align: center;
  font-size: 14px;
}

a{
  color: inherit;
  text-decoration: none;
}